<h2>Services <%= link_to "(+)", new_service_path %></h2>

<ul>
  <% @services.each do |service| %>
    <li>
      <%= link_to "#{service.car.vehicle} - #{service.date}", service %>
    </li>
  <% end %>
</ul>
