<h2>Cars <%= link_to "(+)", new_car_path %></h2>

<ul>
  <% @cars.each do |car| %>
    <li>
      <p><%= link_to car.vehicle, car_path(car) %></p>
      <p><%= link_to 'Delete Car', car_path(car),
             method: :delete,
             data: { confirm: 'Are you sure?' } %></p>
    </li>
  <% end %>
</ul>
<h2><%= link_to "New Car", new_car_path %></h2>
